@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#mainnav {
  height: 100px !important;
}
.gb_1b {
  padding-top: 10px;
}
.applogo {
  display: none;
}
.gb_3b .gb_5b,
#app-logo {
  display: inline-block;
}
#app-logo {
  width: 34px;
  height: 34px;
  margin-left: 5px;
  background-image: url("https://raw.githubusercontent.com/amitkeret/google-calendar-material-userscript/master/images/icon.png");
  background-position: center center;
  background-size: cover;
}
.ep.flair .ep-ea {
  border-bottom: none;
}
.ep.flair .ep-title {
  margin-top: 80px;
  padding-top: 10px;
  border-top: 1px solid #ebebeb;
  transition: none; /* overwrite native transition effect */
}
#mainnav {
  background: transparent;
}
.lv-row .lv-zippy,
.lv-row .lv-zippy-exp,
.lv-row .lv-time {
  display: none;
}
.bubblemain,
.lv-row .lv-event-title-line,
#vr-nav,
#ep-bgimg,
#bubble-bgimg {
  background-size: cover;
  background-position: center center;
}
.lv-row .lv-event-title-line {
  width: 350px;
  padding: 7px;
  margin-bottom: 5px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 3px;
}
.lv-row .reminder + .lv-event-title-line {
  margin-bottom: 5px;
  margin-left: 34px;
}
.lv-row .lv-event-title-line.flair {
  min-height: 100px;
}
.lv-row .lv-event-title-line span:last-child {
  display: block;
}
.lv-row .lv-event-title-line * {
  color: #fff !important;
}
.bubblemain.flair .neb-root .neb-header .neb-date *,
.bubblemain.flair .neb-root .neb-data *,
.bubblemain.flair .hin-bubble .title-text,
.bubblemain.flair .hin-bubble .datetime-container * {
  //color: #fff !important;
}
#ep-bgimg {
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: -1;
}
.bubblemain.flair #bubble-bgimg {
  position: absolute;
  top: -140px;
  left: 0;
  width: 396px;
  height: 140px;
  border: 2px solid white;
}
.bubblemain.flair #bubble-bgimg.fadein {
  animation: fadein 2s;
}
.bubblemain.flair #bubble-bgimg:before {
  content: " ";
  position: absolute;
  top: -3px;
  bottom: 0;
  right: -3px;
  left: -3px;
  border: 1px solid #ccc;
  box-shadow: 0 -1px 4px rgba(0,0,0,.2);
  z-index: -1;
}
.bubble.has-top-prong .bubblemain.flair {
  margin-top: 140px;
}
.bubble.has-top-prong .bubblemain.flair .top-prong {
  top: -149px;
}
