#mainnav {
  height: 100px !important;
}
.gb_1b {
  padding-top: 10px;
}
.applogo {
  display: none;
}
.gb_3b .gb_5b,
#app-logo {
  display: inline-block;
}
#app-logo {
  background-position-y: -2719px;
  width: 34px;
  background-size: 60px 1500px;
  margin-left: 5px;
}
.ep.flair {
  padding-top: 110px;
}
#mainnav {
  background: transparent;
}
.lv-row .lv-zippy,
.lv-row .lv-time {
  display: none;
}
.bubblemain,
.lv-row .lv-event-title-line,
#vr-nav,
#ep-bgimg,
#bubble-bgimg {
  background-size: cover;
  background-position: center center;
}
.lv-row .lv-event-title-line {
  width: 350px;
  padding: 7px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.lv-row .lv-event-title-line.flair {
  min-height: 100px;
}
.lv-row .lv-event-title-line span:last-child {
  display: block;
}
.lv-row .lv-event-title-line * {
  color: #fff !important;
}
.bubblemain.flair .neb-root .neb-header .neb-date *,
.bubblemain.flair .neb-root .neb-data *,
.bubblemain.flair .hin-bubble .title-text,
.bubblemain.flair .hin-bubble .datetime-container * {
  //color: #fff !important;
}
#ep-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: -1;
}
.bubblemain.flair #bubble-bgimg {
  position: absolute;
  top: -140px;
  left: 0;
  width: 396px;
  height: 140px;
  border: 2px solid white;
  box-shadow: 0 -1px 4px rgba(0,0,0,.2);
}
.bubblemain.flair #bubble-bgimg:before {
  content: " ";
  position: absolute;
  top: -3px;
  bottom: 0;
  right: -3px;
  left: -3px;
  border: 1px solid #ccc;
  z-index: -1;
}
